session.*
rrEmacs/auto-save-list/**
Emacs/semanticdb/**
Emacs/elpa/**
Emacs/elpy
Emacs/workgroups
Emacs/.emacs_workgroups
Emacs/history
Emacs/image-dired
Emacs/games
Emacs/oauth2.plstore
Emacs/org-caldav**
Emacs/org-clock-save.el
Emacs/emacs-custom.el
Emacs/bookmarks
Emacs/.org-id-locations
*.cache
**/*~
**/*#
**/.#*
**/*.dat
openbox/**